<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <link rel="stylesheet" href="../estilo.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
    
    <form method="post" action="/pessoas/criar">

        <label>Nome:</label>
        <input type="text" name="Nome" placeholder="Digite seu nome"/>  <br/>

        <label>Sobrenome:</label>
        <input type="text" name="Sobrenome" placeholder="Digite seu sobrenome"/>  <br/>

        <label>Idade:</label>
        <input type="number" name="Idade" placeholder="Digite sua idade"/>  <br/>

        <input type="submit" value="Enviar"/>

    </form>
</body>
</html>